<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
<h2>Navigation</h2>
    <ul>
        <li><a href="/search_anime">Search Anime</a></li>
        <li><a href="/search_movie">Search Movie</a></li>
        <li><a href="/search_tv">Search TV Show</a></li>
        <li><a href="/search_character">Search Character</a></li>
        <li><a href="/view_watchlist">View Watchlist</a></li>
        <li><a href="/login">Sign-up/login</a> </li>
    </ul>
    <h1>Welcome to the Movie and shows db</h1>
    <p>Search for anime, characters, movies, and TV shows using our app.</p>
    <p>Get started by using the navigation menu above.</p>
</body>
</html>
